/*######### Estilo tabla #################*/
th {
    background-color: #235B4E;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
} 
.center {
    text-align: center; /* Clase para centrar texto */
}  
/*########### Paginador de tabla ############*/
.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}
.page-item {
    margin: 0 5px;
}
.page-item .page-link {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
}
.page-item.disabled .page-link {
    pointer-events: none;
    background-color: #e9ecef;
    color: #6c757d;
}
/*
body {
     font-family: Roboto;
     margin: 0;
     padding: 0;
     background-color: #f4f4f9;
 }
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
select {
    width: 280px;
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}
button {
    padding: 8px;
    background-color: #235B4E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 26px;
    width: 280px;
}
button:hover {
    background-color: #18453b;
}        
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    white-space: nowrap;
}
th,td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}
tr:nth-child(even) {
    background-color: #D3DEDC;
}
tr:hover {
    background-color: #A7ADAB;
}
*/ 
      
